src/wsdl/localhost_8080/websphinxService/WebsphinxWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/" name="WebsphinxWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/" schemaLocation="http://localhost:8080/websphinxService/WebsphinxWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crawl">
<part name="parameters" element="tns:crawl"/>
</message>
<message name="crawlResponse">
<part name="parameters" element="tns:crawlResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="isFilterSupported">
<part name="parameters" element="tns:isFilterSupported"/>
</message>
<message name="isFilterSupportedResponse">
<part name="parameters" element="tns:isFilterSupportedResponse"/>
</message>
<portType name="WebsphinxWS">
<operation name="crawl">
<input wsam:Action="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/WebsphinxWS/crawlRequest" message="tns:crawl"/>
<output wsam:Action="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/WebsphinxWS/crawlResponse" message="tns:crawlResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/WebsphinxWS/crawl/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/WebsphinxWS/crawl/Fault/Exception"/>
</operation>
<operation name="isFilterSupported">
<input wsam:Action="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/WebsphinxWS/isFilterSupportedRequest" message="tns:isFilterSupported"/>
<output wsam:Action="http://service.websphinxservice.crawling_services.policy.brokerage.cloudservices/WebsphinxWS/isFilterSupportedResponse" message="tns:isFilterSupportedResponse"/>
</operation>
</portType>
<binding name="WebsphinxWSPortBinding" type="tns:WebsphinxWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crawl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="isFilterSupported">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebsphinxWS">
<port name="WebsphinxWSPort" binding="tns:WebsphinxWSPortBinding">
<soap:address location="http://localhost:8080/websphinxService/WebsphinxWS"/>
</port>
</service>
</definitions>